<h2>Club List</h2>

<div class="account-div">
    <aside class="account-menu-aside">
        <p><a href="/books/want">Want to Read</a></p>
        <p><a href="/books/current">Currently Reading</a></p>
        <p><a href="/books/finished">Books you've read</a></p>
        <p><a href="/books/club">Clubs</a></p>
        <p><a href="/books/club/help">How to use clubs</a></p>
        <p><a href="/books/myaccount">My Account</a></p>
    </aside>


<main class="account-main">
    <p>Create a club, invite your friends and keep a record of what you want to read, what you currently are reading and what you have read.</p>

    <p>Anyone who is a memeber of the group can add books they want to read to the list./p>

    <p>Only the clubs admin user can update when you are reading the book and when you have finished.</p>

    <p>Only the clubs admin user can delete and invite people to the club.</p>
</main>

</div>