<div class="search-field">
    <form action="/books/search" method="get">
        <input placeholder="Search a book" type="text" name="search_books">
        <button class="search-book-btn">Search</button>
    </form>
</div>

