<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav class="main-nav">
      <a href="/">Home</a>
      <a href="/books/about">About</a>
    </nav>

    <a class="logo" href="/"><h1>L-Bry</h1></a>

    <section class="account-section">
      <% if logged_in?%>

        Logged in as <a href="/books/myaccount"><%=current_user()["first_name"]%></a>

        <form action="/books/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="logout-btn">Logout</button>
        </form>

      <%else%>

        <a  href="/books/login">
          <img class="account-img" src="https://image.flaticon.com/icons/png/512/747/747376.png" alt="">
        </a>

      <% end %>
    </section>

  </header>


  <%= yield %>

</body>
</html>
