<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>L-Bry</h1>

    <section>
      <% if logged_in?%>

        Logged in as <a href="/books/myaccount"><%=current_user()["first_name"]%></a>

        <form action="/books/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>

      <%else%>
      
          <button class="login-btn">
            <a  href="/books/login">
              <img style="width:100%" src="https://image.flaticon.com/icons/png/512/747/747376.png" alt="">
            </a>
          </button>

      <% end %>
    </section>

  </header>


  <%= yield %>

</body>
</html>
