<h2>Login</h2>

<form action="/books/session" method="post">    
    <label for="">Emaill Address</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Login</button>
</form>

<p>Not a member? <a href="/books/signup">Sign Up</a></p>