<h2>Login</h2>

<form action="/session" method="post">    
    <label for="">Emaill Address</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Login</button>
</form>