<h2>My Account</h2>

<div class="account-div">
    <aside class="account-aside">
        <p><a href="/books/current">Currently Reading</a></p>
        <p><a href="/books/want">Want to Read</a></p>
        <p><a href="/books/finished">Books you've read</a></p>
        <p><a href="/books/myaccount">My Account</a></p>
    </aside>

    <main class="account-main">
        <p><%= users["email"] %></p>
        <p><%= users["first_name"] %></p>
        <p><%= users["last_name"] %></p>
    </main>
</div>