<h2>Update Password</h2>

<div class="account-div">
    <aside class="account-menu-aside">
        <p><a href="/books/want">Want to Read</a></p>
        <p><a href="/books/current">Currently Reading</a></p>
        <p><a href="/books/finished">Books you've read</a></p>
        <p><a href="/books/club">Clubs</a></p>
        <p><a href="/books/club/help">How to use clubs</a></p>
        <p><a href="/books/myaccount">My Account</a></p>
    </aside>

    <main class="account-main">
        <form class="change-password-forms" action="/books/new-password" method="post"> 
            <input type="hidden" name="_method" value="put">   

            <label for="">Password</label>
            <input type="password" name="password">


            <button>Change Password</button>
        </form>
    </main>
</div>