<h2>Search Results</h2>

<ul>
    <%books.each do |book|%>
        <li>
            <a href="/books/details/<%= book["id"] %>">
                <p><%=book["volumeInfo"]["title" ]%></p>
                <p> by <%=book["volumeInfo"]["authors"].to_s%></p>
            </a>
        </li>
    <%end%>
</ul>
