body{
    background-color: #F4F2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2{
    text-align: center;
}

.bold{
    font-weight: 900;
}

.book-details-grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 35px auto;
    gap: 10px;
}

button.logged-in{
    background-color: blue;
    color: white
}

button.not-logged-in{
    background-color: grey;
}

footer{
    margin: 40px 0;
}

.account-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.book-container-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px auto;
}

.login-btn{
    width: 40px;
    border: none;
    background-color: transparent;
}